uikit/iOSTakeHomeChallenge.xcodeproj/project.xcworkspace/xcuserdata/khaled.xcuserdatad/UserInterfaceState.xcuserstate
uikit/iOSTakeHomeChallenge.xcodeproj/xcuserdata/khaled.xcuserdatad/xcschemes/xcschememanagement.plist
uikit/iOSTakeHomeChallenge.xcodeproj/xcshareddata/xcschemes/iOSTakeHomeChallenge.xcscheme
uikit/iOSTakeHomeChallenge.xcodeproj/xcuserdata/khaled.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
